/* TABLE OF CONTENTS 

Fonts URL
root
NAVIGATION BAR
LOGIN AND SIGN UP
SIDE NAVIGATION
REPORTS
SUCCESS
RATE
for TABLE
ACCOUNT
NOTIFICATIONS
ABOUT
HELP
buttons
FOR PRINT
FOOTER

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --primary-color: #f1f7ff;
    --secondary-color: #005c81;
    --tertiary-color: #004363;
    --light-color: #fff;
    --gray-color: #a09e9e;
    --light-gray-color: #b9b9b9;
    --danger-color: #770000;
    --success-color: #005414;
    --confirm-color: #00658d;
    
    
}

* {
    font-family: 'Poppins', 'Trebuchet MS', sans-serif;
}


body {
    background-color: var(--primary-color) !important;
}

a {
    text-decoration: none !important;
}

h2, h3, h4, h6 {
    color: var(--secondary-color) !important;
}

p {
    font-size: 20px;
}

/* PRE-LOADER */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 5px solid;
    border-color: transparent var(--secondary-color) var(--secondary-color);
    border-radius: 50%;
    -webkit-animation: spin 300ms linear infinite;
    animation: spin 300ms linear infinite;

}
#forLoader {
    display: none;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* NAVIGATION BAR */

.topnav {
    position: fixed;
    top: 0;
    background-color: var(--secondary-color);
    height: 70px;
    width: 100%;
    padding: 10px;
}

.topnav .tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav .tab img {
    width: 50px;
    border-radius: 50%;
}

.topnav .tab a {
    color: var(--light-color);
}

.topnav i {
    color: var(--light-color);
    font-size: 25px;
}

/* LOGIN AND SIGN UP */

.start-container {
    margin-top: 180px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 100%;
}

.logo-container img {
    width: 80%;
}

.login {
    margin-top: 100px;
    height: 50vh;
}

.login img {
    border-radius: 50%;
}

.login-container {
    background-color: transparent;
    padding: 25px;
}

.login-container .form-ni{
    width: 90%;
    margin: 20px auto;
}

.login-container .form-ni a {
    font-size: 15px;
}

.login-container label, .login-container p, .login-container a {
    font-size: 13px;
}

.login-container .btn-submit {
    padding: 10px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    color: var(--light-color);
    width: 100%;
}

.login-container .btn-submit:hover {
    background-color: var(--tertiary-color);
    transition: 0.3s;
}

.login-container .bi {
    font-size: 20px;
    margin: 8px;
}

.login-container input[type="checkbox"] {
    cursor: pointer;
}

.login-container a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.login-container a:hover {
    color: var(--secondary-color);
    transition: 0.5s;
}

.custom-container {
    margin-top: 7%;
    margin-bottom: 10%;
}


select {
    cursor: pointer;
}

/* SIDE NAVIGATION */

.sidenav-btn-toggle {
    top: 70px;
    left: 0;
    position: fixed;
    display: block;
    background-color: var(--tertiary-color);
    border: none;
    font-size: 25px;
    color: var(--light-color);
}

.sidenav {
    top: 70px;
    left: 0;
    position: fixed;
    background-color: var(--tertiary-color);
    height: 100%;
    width: 200px;
    z-index: 2;
    padding: 10px;
    /* display: none; */
}

.sidenav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav img {
    width: 80px;
    border-radius: 50%;
}

.sidenav-container {
    padding: 6px;
}

.sidenav hr {
    border: 1px solid var(--light-color);
}

.sidenav-content {
    margin: 8px;
}

.sidenav h5, .sidenav h3 {
    color: var(--light-color);
}

.sidenav ul {
    list-style-type: none;
    display: contents;
}

.sidenav li {
    margin-bottom: 8px;
}

.sidenav button {
    background-color: transparent;
    border: none;
    color: var(--light-gray-color);
}

.sidenav .btn-sidenav {
    border-radius: 5px;
    color: var(--light-gray-color);
    padding: 8px;
    width: 100%;
    text-align: start;
    font-size: 15px;
    text-decoration: none;
}

.sidenav .btn-sidenav:hover {
    background-color: var(--light-color);
    color: var(--secondary-color);
    transition: 0.5s;
}

.sidenav .active {
    background-color: var(--light-color);
    color: var(--secondary-color);
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    text-align: start;
    font-size: 15px;
    text-decoration: none;
}

.sidenav h6 {
    color: var(--light-color) !important;
}

.sidenav .btn-add {
    background-color: var(--tertiary-color);
    border: none;
    border-radius: 5px;
    padding: 6px;
    color: var(--light-color);
    width: 100%;
    font-size: 15px;
}

.sidenav .btn-add:hover {
    background-color: var(--gray-color);
    color: var(--light-color);
    transition: 0.5s;
}

.sidenav .btn-signout {
    background-color: var(--light-color);
    border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    width: 100%;
    font-size: 15px;
}

.sidenav .btn-signout:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.sidenav .user {
    line-height: 3px;
}

.sidenav .btn-sidenav-hide {
    float: right;
    color: var(--light-color);
    margin-top: 30px;
}

form .readonly {
    background-color: #e4e3e3;
}

/* HOMEPAGE */

.homepage {
    margin-top: 100px;
}

.homepage .hero {
    background-color: var(--light-color);
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
}

.homepage .hero img {
    border-radius: 50%;
    width: 150px;
}

.homepage .info {
    bottom: 10px;
}

.homepage .records {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homepage .container .record {
    background-color: var(--light-color);
    padding: 35px;
    width: 45%;
    text-align: center;
    border: 2px dashed var(--secondary-color);
    border-radius: 7px;
}

.homepage .records .record {
    color: var(--secondary-color);
}

.homepage .records .record:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.homepage .records .record i {
    font-size: 40px;
}

/* ADD MEDICAL RECORD */

.add-med-rec {
    margin-top: 100px;
}

/* STUDENT LIST */

.student-list {
    margin-top: 120px;
}

/* ADMIN */

.admin-homepage {
    margin-top: 120px;
}

/* DEPARTMENT STAFF */

.staff-list {
    margin-top: 120px;
}

/* REPORTS */

.dataTables_filter, .dataTables_wrapper .dataTables_paginate, table.dataTable.no-footer {
    margin-bottom: 20px !important;
}

.table th {
    text-align: center !important;
}

.reports h1 {
    color: var(--secondary-color);
}

.split {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.split h4, p {
    color: var(--secondary-color);
}

.split #total_records {
    font-size: 20px;
    font-weight: bold;
}

.split strong {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-custom {
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-align: center;
    
}

.btn-custom:hover {
    background-color: var(--tertiary-color);
    transition: 0.5s;
}

.next {
    display: flex;
    align-items: center;
    justify-content: end;
    right: 0;
}

.next-btn {
    border: none;
    border-radius: 5px;
    padding: 12px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-size: 20px;
}

.next-btn:hover {
    background-color: var(--tertiary-color);
    transition: 0.5s;
}

.amount {
    text-align: end;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.note {
    color: var(--gray-color);
}

.note a {
    text-decoration: none;
    color: var(--tertiary-color);
}

/* SUCCESS */

.success-container {
    margin-top: 20%;}

.success-container ul {
    list-style-type: none;
    text-align: center;
}

.success-container li {
    margin: 35px;
}

.success-container .progress-btn {
    border: none;
    border-radius: 5px;
    padding: 12px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-size: 20px;
}

.success-container .progress-btn:hover {
    background-color: var(--tertiary-color);
    transition: ease-out 0.5s;
}

.success-container a {
    color: var(--secondary-color);
}

/* RATE */

.rate-container {
    margin-top: 160px;
}

.rate-container h3, .rate-container h5 {
    color: var(--secondary-color);
}

.rate-container ul {
    list-style-type: none;
    text-align: center;
}

.rate-container li {
    margin: 35px;
}

.rate-container .bi-star-fill {
    margin: 7px;
    font-size: 60px;
    color: var(--light-gray-color);
}

.rate-container .bi-star-fill:hover {
    cursor: pointer;
    transition: 0.5s;
    color: #e4c200;
}

.rate-container .progress-btn {
    border: none;
    border-radius: 5px;
    padding: 12px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-size: 20px;
}

.rate-container a {
    color: var(--secondary-color);
}

.ratings h1 {
    margin-top: 100px;
    margin-bottom: 30px;
}

.ratings h3, p {
    color: var(--secondary-color);
}

.ratings .md-star {
    font-size: 24px;
}

.ratings .bi {
    color: #e4c200;
}

.ratings .rate-us {
    margin-top: 50px;
}

.ratings .rate-us i {
    color: var(--light-color);
}

.ratings a {
    color: var(--secondary-color);
}


/* for TABLE */

table th, td {
    font-size: 14px;
}

table a {
    text-decoration: none;
}

.tbl-top-btns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.tbl-top-btns .input-group {
    width: 210px;
}

.split span {
    color: var(--secondary-color);
    font-size: 15px;
}


/* LIST OF USERS */

.back-arrow {
    color: var(--secondary-color);
    font-size: 23px;
}

/* ACCOUNT */

.pp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
}

.pp img {
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    width: 170px;
}

.pp input[type="file"] {
    display: none;
}

.btn-profile {
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn-profile:hover {
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.btn-deactivate {
    border: none;
    border-radius: 5px;
    background-color: var(--danger-color);
    color: var(--light-color);
    padding: 10px;
    font-size: 14px;
}

.btn-deactivate:hover {
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

/* NOTIFICATIONS */


.notif {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-read {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px;
    margin: 1px;
}

.btn-read:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.btn-unread {
    background-color: var(--gray-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px;
    margin: 1px;
}

.btn-unread:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}


/* ABOUT */

.about ul {
    list-style-type: none;
}


/* HELP */

#request, #track, #create_account {
    margin: 100px auto;
}

.help ul {
    list-style-type: none;
    padding: 0;
}

.help ul li {
    margin-bottom: 30px;
    margin-left: 0;
}

.help img {
    width: 100%;
    border: 1px solid var(--secondary-color);
}

.help a {
    color: var(--secondary-color);
}

.help a:hover {
    text-decoration: underline !important;
    transition: 0.3s;
}

/* buttons */

.btn-submit {
    padding: 10px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    color: var(--light-color);
    width: 100%;
}

.btn-submit:hover {
    background-color: var(--tertiary-color);
    transition: 0.3s;
}

.btn-suki {
    background-color: var(--success-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px;
    margin: 1px;
}

.btn-suki:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.btn-confirm {
    background-color: var(--confirm-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 8px;
    margin: 1px;
}

.btn-confirm:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.btn-nav {
    background-color: var(--gray-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px;
    margin: 1px;
}

.btn-nav:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.btn-download {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 15px;
    padding: 8px;
}

.btn-download:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.btn-add-user {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 15px;
    padding: 8px;
}

.btn-add-user:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.btn-view {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px;
}

.btn-view:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.btn-restricted {
    background-color: var(--danger-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px;
}

.btn-restricted:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.btn-close {
    float: right;
}

/* FOR PRINT */
.print-logo-left {
    width: 8%; 
    display:block; 
    position:absolute; 
    left: 200px;
    border-radius: 50%;
}
.print-logo-right {
    width: 8%; 
    display:block; 
    position:absolute; 
    right: 200px;
    border-radius: 50%;
}

.prepared-by {
    display:block; 
    position: absolute;
    float: left;  
    left: 250px;
}

.approved-by {
    float: right; 
    display: block; 
    position: absolute; 
    right: 250px;
}

.name-footer {
    display: block; 
    position: absolute; 
    float: left; 
    left: 215px;
}

.head-name {
    display:block; 
    position:absolute; 
    float: right; 
    right: 200px;
}

.incharge {
    display:block; 
    position:absolute; 
    float: left; 
    left: 230px;
}

.head-office {
    display:block; 
    position:absolute; 
    float: right; 
    right: 230px;
}

/* FOOTER */

footer {
    background-color: var(--gray-color);
    bottom: 0;
    position: fixed;
    height: 55px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

footer .section {
    display: flex;
    align-items: center;
}

footer .social-links {
    margin-right: 18px;
}

footer p {
    font-size: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

footer a {
    color: var(--light-color);
    font-size: 18px;
    margin-right: 5px;
}

footer a:hover {
    color: var(--tertiary-color);
    transition: 0.3s;
}

footer input[type="email"] {
    width: 200px;
}

#chat {
    left: 18px;
}

#back-to-top {
    right: 18px;
}

#chat, #back-to-top {
    position: fixed;
    font-size: 45px;
    bottom: 55px;
    color: var(--confirm-color);
    cursor: pointer;
}

#chat:hover,
#back-to-top:hover {
    filter: invert(50%);
}

footer .chatbox {
    bottom: 110px;
    left: 60px;
    position: fixed;
    background-color: var(--light-color);
    height: 300px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid var(--gray-color);
    display: none;
}

footer #toggleChatbox:focus ~ #chatBox {
    display: block;
}

.chatbox .chatbox-header {
    width: 100%;
    height: 30px;
    background-color: var(--secondary-color);
    border-radius: 5px 5px 0 0;
}

.chatbox-header .bi-x {
    color: var(--light-color);
    float: right;
    margin-top: 2px;
    margin-right: 3px;
    font-size: 20px;
    cursor: pointer;
}

.chatbox-header .bi-x:hover {
    color: var(--light-gray-color);
}

.chatbox-body ul {
    list-style: none;
    padding: 0;
}

.chatbox-body li {
    margin: 10px;
    font-size: 14px;
}

.chatbox-body .chat {
    margin-left: 45px;
    margin-top: 10px;
    background-color: var(--secondary-color);
    height: 30px;
    width: 226px;
    border-radius: 15px;
}

.chatbox-body .bi-person-circle {
    font-size: 20px;
    bottom: 60px;
    position: absolute;
    color: var(--secondary-color);
}

.chatbox-body img {
    width: 100px;
    margin-top: 2px;
    margin-left: 8px;
}

.chatbox-body p {
    font-size: 13px;
    padding: 5px;
    margin-left: 6px;
    color: var(--light-color);
}

.chatbox-body .chat-typing {
    margin-left: 37px;
    background-color: var(--secondary-color);
    height: 30px;
    width: 40px;
    border-radius: 15px;
    display: flex;
}

.chatbox-body .chat-typing-indicators {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chatbox-body .chat-typing-indicator {
    margin: 0 1px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--light-color);
    animation: jump 1s infinite;
}

.chatbox-body .chat-typing-indicator:nth-child(2) {
    animation-delay: 0.1s;
}

.chatbox-body .chat-typing-indicator:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


.chatbox .chatbox-footer {
    width: 100%;
    height: 46px;
    background-color: var(--light-gray-color);
    bottom: 0;
    position: absolute;
    padding: 8px;
    border-radius: 0 0 3px 3px;
}

.chatbox .chatbox-footer .bi-camera-fill {
    color: var(--secondary-color);
    font-size: 22px;
    margin-right: 6px;
    cursor: pointer;
}

.chatbox .chatbox-footer input[type="text"] {
    border-radius: 15px;
    height: 30px;
    width: 200px;
    border: none;
    position: absolute;
    margin-left: 5px;
}

.chatbox .chatbox-footer input::placeholder {
    font-size: 14px;
    padding: 8px;
}


.chatbox .chatbox-footer .bi-send {
    color: var(--secondary-color);
    float: right;
    font-size: 22px;
    margin-right: 6px;
    cursor: pointer;
}

.chatbox .chatbox-footer .bi-send {
    transform: rotate(45deg);
}

/* MEDIA QUERY */

@media screen and (max-width: 992px) {

    .start-container {
        margin-top: 30px;
    }

    .custom-cont .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-cont img {
        top: 0;
        width: 400px;
    }

    .notif span {
        display: none;
    }

    .notif p {
        font-size: 13px;
    }

    .notif .btn-read, .notif .btn-unread {
        font-size: 13px;
        padding: 6px;
    }

    .rate-container .bi-star-fill {
        font-size: 40px;
        color: var(--gray-color);
    }

}

@media screen and (max-width: 767px) {

    .heading1 {
        font-size: 26px;
    }

    .tbl-top-btns .btn-download, .btn-add-user, .split .btn-nav, .sidenav-btn-toggle {
        padding: 6px;
    }

    .tbl-top-btns .btn-download, .btn-add-user, .dataTables_wrapper .dataTables_length select, .dataTables_filter, table th, table td, .split span, .split p, .split #total_records, .dataTables_info, .next-btn, .sidenav-btn-toggle
    {
        font-size: 13px;
    }

    .marker {
        margin-top: 25px;
    }

    .records, .hero {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .records .record {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 740px) {

    footer .text-white {
        font-size: 12px;
    }

    footer .bi{
        font-size: 15px;
    }

    footer input[type="email"] {
        height: 30px;
        width: 92px !important;
    }

    footer input::placeholder {
        font-size: 13px;
    }

    footer input[type="button"] {
        height: 30px;
        font-size: 12px;
    }
}


@media screen and (max-width: 600px) {
    .sidenav {
        width: 66px;
        left: 0;
        position: fixed;
    }

    .sidenav .btn-sidenav {
        color: var(--light-color);
    }

    .sidenav .btn-sidenav:hover {
        background-color: var(--light-color);
        color: var(--secondary-color);
    }

    .sidenav i{
        font-size: 21px;
    }

    .sidenav h5, .sidenav span {
        display: none;
    }
    .sidenav h6 {
        font-size: 12px;
    }

    .sidenav .btn-signout {
        padding: 6px;
    }

    .note, .btn-custom {
        font-size: 13px;
    }

    .btn-view, .btn-suki, .btn-restricted {
        font-size: 12px;
    }

    .btn-signout i {
        font-size: 15px;
    }

    .logo img {
        width: 58px;
    }

    footer span {
        display: none;
    }

}

@media screen and (max-width: 575px) {

    .tbl-top-btns {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 510px) {

    h2 {
        font-size: 19px !important;
    }

    h4 {
        font-size: 17px !important;
    }

    h3 {
        font-size: 15px !important;
    }

    p, h5 {
        font-size: 13px !important;
    }

    a {
        font-size: 13px;
    }

    label, input, select, option, textarea, .btn-profile, .btn-deactivate, .dataTables_info {
        font-size: 12px !important;
    }

    #account img, .pp img {
        width: 100px;
    }

    #about h5 {
        color: var(--secondary-color);
    }

    .custom-cont .bi {
        font-size: 14px;
    }

    .custom-cont .logo-container img {
        width: 300px;
    }

    .rate-container h3, .back-arrow {
        font-size: 18px;
    }

    .rate-container h5, .rate-container a, .rate-container label {
        font-size: 12px;
    }

    .rate-container .bi-star-fill {
        font-size: 25px;
    }

    .rate-container .progress-btn {
        font-size: 12px;
    }

    .heading1 {
        font-size: 22px;
    }

    .tbl-top-btns .btn-download, .btn-add-user, .split .btn-nav, .paginate_button {
        padding: 7px;
    }

    .tbl-top-btns .btn-download, .btn-add-user, .btn-restricted, table th, table td, table .btn-view, .split .btn-nav, .split span, .split p, .next-btn, .paginate_button
    {
        font-size: 10px;
    }

    .tbl-top-btns .input-group {
        width: 163px;
    }

    footer #chat, footer #back-to-top {
        font-size: 30px;
    }

    footer input[type="email"] {
        height: 30px;
        width: 83px !important;
    }

    footer input::placeholder {
        font-size: 10px;
    }

    footer input[type="button"] {
        height: 30px;
        font-size: 10px;
    }

    footer .section p {
        font-size: 10px;
    }

    footer .chatbox {
        bottom: 95px;
        left: 40px;
    }
}

@media screen and (max-width: 444px) {
    .reports .split {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}